* {
  box-sizing: border-box;
}
  
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 67px;
  padding-bottom: 117px;
}

a {
  text-decoration: none;
}

.root {
  position: relative;
}

/* @media (min-width: 400px) {
  .showtimes {
    align-items: center;
    width: 100%;
  }
} */