.containerBuyer {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}


.buyer {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    margin-top: 35px;
}

.buyer p {
    font-size: 18px;
    line-height: 21px;
    color: #293845;

    margin-top: 7px;
}

.buyer input {
    width: 327px;
    height: 51px;

    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
}
